@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

:root{
    --nav-bg-color:#9e9e9e; /*#21282e; /* #0c1c33*/
    --small-skill-card-bg-color:rgb(224, 224, 224);
    --bg-color:rgb(224, 224, 224);/*#122a42;*/
    --secondary-bg-color:#4e5358;
    --third-bg-color:#122a42;/*#0a1724;*/
    --image-filter:rgba(18,42, 66, 0.7);
    --primary-color:#000;/*#fff;*/
    --primary-highlight:#183757;
    --secondary-highlight:#EBBC1C;
    --primary-shadow:rgb(7, 16, 26);
    --skill-entry-size:200px;
}

.dark-mode{
    --nav-bg-color:#131313; /*#21282e; /* #0c1c33*/
    --small-skill-card-bg-color:#131313;
    --bg-color:rgb(34, 34, 34);/*#122a42;*/
    --secondary-bg-color:#122a42;
    --primary-highlight:#00d897;
    --primary-color:rgb(238, 238, 238);
    --primary-shadow:rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway';
    min-width: 300px;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    overflow: overlay;
}

.wrapper{
    background-color: var(--bg-color);
    width:100%;
    height:100%;
}

.central-column{
    padding: 100px 70px;
    
}

nav{
    position:fixed;
    top:0;
    width:100%;
    background-color: var(--nav-bg-color);
    z-index: 9;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    box-shadow: 0 1px 2px var(--primary-shadow);
}

.name-container{
    display: inline-block;
    padding: 5px 10px;
}

.name-container__name{
    color:var(--primary-highlight);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: small;
}

.nav-links{
    flex-direction: row;
    display: flex;
}

.nav-links__item{ 
    padding: 0 15px;
}

.nav-links__link{
    display: inline-block;
    text-decoration: none;
    color:var(--primary-highlight);
    font-size: 12pt;
    padding: 5px 10px;
    font-weight: bold;
}

.nav-links__link:hover{
    color:var(--primary-color)
}

.dark-mode-toggle{
    padding-top:6px;
    display: inline-block;
    width:100%;
    padding: 5px 10px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 28px;
    height: 16px;
    background-color:var(--secondary-bg-color);
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    position: relative;
    transform: scale(1.5);
    font-size: 5pt;
}

.ball {
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the element after the label*/
.checkbox:checked + .label .ball{
    transform: translateX(12px);
}

.fa-moon {
    color: pink;
}

.fa-sun {
    color: yellow;
}

.sub-title{
    color:var(--primary-highlight);
}

h1{
    color:var(--primary-highlight);
    display: block;
    width: 100%;
    text-align: center;
}

#my-name{
    font-size:32pt;
    font-style: italic;
}

.burger-menu {
    display: none;
}


.section__inner{
    color:var(--primary-color);
    z-index: 2;
    padding: 10px 50px 100px 50px;
    
}

.section{
    width:auto;
    min-height: 200px;
}

.terminal-launch-link{
    padding:4px;
    display: inline-block;
    font-size: large;
    color: var(--primary-color);
    background-color: var(--nav-bg-color);
    box-shadow: 0 3px 10px var(--primary-shadow);
    text-align: center;
    margin: auto 0;
}

.terminal-launch-link:hover{
    color:chartreuse;
    cursor:pointer;
    box-shadow: 0 5px 15px var(--primary-shadow);
}

.bio{
    /* outline: 1px solid black; */
}

.intro{
    width:100%;
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    justify-content: space-between;
    align-items: center;
}

.info-subsection{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.info-block{
    list-style: none;
    margin:0;
    padding:10px 0px;
    display: block;
    /* outline:1px solid black; */
    width:50%;
}

.info-field{
    line-height: 25px;
    font-size: 12pt;
}

.info-field__label{
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
    color:var(--primary-highlight)
}

#photo-of-me{
    display:block;
    width:150px;
    height:auto;
    border-radius:50%;
    border:1px solid var(--secondary-bg-color)
}


.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

.about-section__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}


.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-10%);
}

.show{
    opacity: 1;
    filter:blur(0);
    transform:translateX(0);
}

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    display:inline-block;
    width:140px;
    height:130px;
}

.card{
    text-align: center;
    /* border-radius: 8px; */
    background-color: var(--secondary-bg-color);
    box-shadow: 0 3px 10px var(--primary-shadow);
    margin:2vh;
    padding:2vh;
}
.small-skill-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px 0px;
}
.small-skill-card{
    text-align: center;
    display: block;
    background-color: var(--nav-bg-color);
    box-shadow: 0 3px 10px var(--primary-shadow);
    width:60px;
    height: 60px;
    margin:5px;
    padding:10px;
}

.project-card{
    display: flex;
    text-align: center;
    /* border-radius: 8px; */
    background-color: var(--secondary-bg-color);
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 2px;
    margin-bottom: 30px;
}


.left-project-card{
    flex-direction: row;
}

.right-project-card{
    flex-direction: row-reverse;
}

.project-card__description-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    text-align: left;
}

.project-card__description{
    font-weight: 600;
}
.project-card__image{
    max-width: 500px;
    outline: 1px solid var(--primary-shadow);
}

.project-card__links-container{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.project-card__link{
    font-size: 20pt;
    color: var(--primary-color);
    text-decoration: none;
    padding:10px;
}

.skill h2{
    font-size:large;
    
}

.tech-icon-small{
    font-size:30pt;
    height:40px;
}
.tech-icon-medium{
    font-size:45pt;
}
.tech-icon-big{
    font-size:60pt;
}

.tech-icon-very-big{
    font-size:60pt;
}

svg.ghost-orb-logo {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/ghost-logo-light.webp");
    margin-top:2vh;
}

.contact-info{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-info__item{
    padding:20px;
    color:var(--primary-color);
}

.contact-info__contact-message{

}

.whatsapp-logo{
    font-size: 30pt;
    
}

.contact-info__item:hover{
    color:green;
    transition: 0.2s color;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#404347;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
@media screen and (max-width: 1200px){
    .project-card{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .project-card__image{
        max-width: 400px;
    }

    .left-project-card{
        flex-direction: column;
    }
    
    .right-project-card{
        flex-direction: column;
    }
}
@media screen and (max-width: 900px){

    body{
        max-width: 900px;
    }
    
    .about-section__inner{
        
    }
    
    #photo-of-me{
        width:120px;
    }
    .section__inner{
        padding:0px 20px;
    }

    .section__inner{
        color:var(--primary-color);
        z-index: 2;
    }
    
    .section{
        padding-top:100px;
        width:100%;
    }

    .central-column{
        padding: 0;
        width:100%;
    }

    .wrapper{
        width:100%;
        height:100%;
    }

    nav{
        width:100%;
        justify-content: flex-end;
        background-color: transparent;
        box-shadow: none;
    }

    .name-container{
        display: none;
    }

    nav.open{
        padding: 130px 0px;
        z-index: 8;
        background-color: var(--nav-bg-color);
        box-shadow: 0 1px 2px var(--primary-shadow);
    }
    
    .nav-links__item{
        /* border-bottom: 1px solid var(--secondary-bg-color); */
        outline: 1px solid var(--secondary-bg-color);
    }

    .burger-menu{
        position: fixed;
        top:30px;
        right:50px;
        z-index: 15;
        color: var(--primary-color);
        font-size: 2rem;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .dark-mode-toggle{
        display: flex;
        width:100%;
        flex-direction: row;
        justify-content: center;
    }

        
    .label {
        width: 56px;
        height: 32px;
        padding: 8px;
        font-size: 10pt;
    }

    .ball {
        width: 28px;
        height: 28px;
    }

    .checkbox:checked + .label .ball{
        transform: translateX(24px);
    }

    .nav-links {
        position: fixed;
        flex-direction: column;
        top: 20px;
        left: 0%;
        width: 100%;
        text-align: center;
        display:none;
        
        /* background-color: var(--secondary-bg-color); */
    }

    .nav-links__item{
        /* background-color: grey; */
        padding:15px 0;
    }

    .nav-links.show {
        transform: translateX(0);
        display:block;
    }

    .burger-menu {
        display: block;
    }

    .skill{
        display:inline-block;
        width:110px;
        height:auto;
    }

    .skill img{
        height:30px;
    }

    .tech-icon-big{
        font-size:40pt;
    }

    .skill figcaption{
        font-size:10pt;
    }

    .project-card__image{
        max-width: 450px;
    }
}

@media screen and (max-width: 750px){
    .project-card__image{
        max-width: 400px;
    }
}

@media screen and (max-width: 650px){
    .project-card__image{
        max-width: 300px;
    }

    .about-section{
        flex-direction: column;
    }

    #photo-of-me{
        width:100px;
    }
    
    .first-section h1{
        font-size: large;
    }

    
    nav{
        background-color: transparent;
    }

}