$bg-color:#122a42;
$bg-color-filter:rgba(18, 42, 66, 0.7);
$secondary-bg-color:#404347;
$image-filter:rgba(18,42, 66, 0.7);
$primary-color:#fff;
$primary-highlight:orange;
$primary-shadow:rgb(7, 16, 26);
$skill-entry-size:200px;
